doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
    body
        h1 Hello world!
        if currentUser
            h1 Hello #{currentUser.username}!
            form(action='/log-out' method='POST')
                button Log Out
        else
            h1 please log in
            form(action="/log-in" method="POST")
                label(for="username") Username
                input(name="username" placeholder="username" type="text")
                label(for="password") Password
                input(name="password" type="password")
                button Log In
